{% extends 'base.back.html.twig' %}

{% block title %}les films{% endblock %}

{% block body %}
<div>
    <h1>Les Films</h1>
    <a href="{{ path('app_admin_film_new') }}" class="btn btn-inverse-success p-2 mb-2">Nouveau</a>
    <table class="table" data-toggle="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th data-sortable="true">Titre</th>
                <th data-sortable="true">Réalisation</th>
                {# <th>Casting</th> #}
                {# <th>Pays</th> #}
                <th data-sortable="true">Durée</th>
                {# <th>Récompense(s)</th> #}
                {# <th>Distributeur</th> #}
                {# <th>Location</th> #}
                {# <th>Synopsis</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                {# <td>{{ film.id }}</td> #}
                <td>{{ film.titre }}</td>
                <td>{{ film.realisation }}</td>
                {# <td>{{ film.casting }}</td> #}
                {# <td>{{ film.pays }}</td> #}
                <td>{{ film.duree }}</td>
                {# <td>{{ film.recompense }}</td> #}
                {# <td>{{ film.distributeur }}</td> #}
                {# <td>{{ film.coutLocation }}</td> #}
                {# <td>{{ film.synopsis }}</td> #}
                <td>
                <a href="{{ path('app_admin_film_show', {'id': film.id}) }}">
                    <span class="menu-icon">
                        <i class="mdi mdi-border-color btn btn-rounded btn-inverse-primary m-1"></i>
                    </span>
                </a>

                <a href="{{ path('app_admin_film_edit', {'id': film.id}) }}">
                    <span class="menu-icon">
                        <i class="mdi mdi-eye btn btn-rounded btn-inverse-warning m-1"></i>
                    </span>
                </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun film trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
